body {
  font-family: 'Century Gothic', Garamond, 'Gill Sans Nova', sans-serif;
}

nav a,
h5,
h2,
footer {
  font-family: 'Times New Roman', Times, serif;
}

h1 {
  font-family: Elephant, Britannic, sans-serif;
}

.fadeInDiv {
  transition: opacity 0.6s ease-out, transform 1.2s ease-out;
  will-change: opacity, visibility;

  &.open {
    transform: none;
  }

  &.hidden {
    transform: translateY(10vh);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #212529;
    color: white;
  }
}